<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <appSettings>
    <add key="CERTIFICATE" value="secret.pfx"/>
    <add key="CERTIFICATE_PASSWORD" value=""/>
    <add key="PROTOCOLLOG_DIR" value=""/>
    <add key="TRACELOG_DIR" value=""/>
    <add key="LISTEN_PORT" value="8080"/>
    <add key="READ_TIMEOUT" value="5000"/>
    <add key="WRITE_TIMEOUT" value="5000"/>
  </appSettings>
</configuration>